[Unit]
Description=The GamestopOfficial tweetbot
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/gmeOfficialTweetBot
ExecStart=/usr/bin/make run
User=pi

[Install]
WantedBy=multi-user.target

