appdirs==1.4.4
argcomplete==1.12.2
attrs==20.3.0
boto3==1.14.20
botocore==1.17.20
colorama==0.4.4
distlib==0.3.2
docutils==0.15.2
dotty-dict==1.3.0
filelock==3.0.12
hjson==3.0.2
img2pdf==0.3.6
jmespath==0.10.0
jsonschema==3.2.0
milc==1.3.0
plakativ==0.3
Pygments==2.8.1
pyjq==2.5.2
PyMuPDF==1.17.4
pyrsistent==0.17.3
PyYAML==5.4.1
s3transfer==0.3.3
setuptools-scm==6.0.1
six==1.15.0
todotxt-machine==2.2.2
urwid==2.1.1
virtualenv==20.0.25
