[Unit]
Description=The Superstonk tweetbot
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/superstonkTweetBot
ExecStart=/usr/bin/make run
User=pi

[Install]
WantedBy=multi-user.target

